// global colors
$grad1: #6DE5F2;
$grad2: #50A7F2;
$grad3: #6D81F2;
$grad4: #6A66F2; 

// screen sizes
$medium: 1007px;
$small: 641px;

// @import "reset";
@import "components/global";
@import "components/header";
@import "components/nav";
@import "components/footer";
@import "components/aboutus";//
@import "components/destinations";//
@import "components/location"; //
@import "components/contact";//