*, *:before, *:after {
  box-sizing: border-box; }

.wrapper1200 {
  max-width: 1200px;
  margin: 0 auto; }

header {
  background-color: white; }
  header .wrapper1200 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    header .wrapper1200 .logo {
      margin: 10px; }
      header .wrapper1200 .logo img {
        width: 120px; }
    header .wrapper1200 div.phone {
      font-size: 25px;
      font-weight: bold;
      margin: 10px; }
      header .wrapper1200 div.phone a {
        color: black;
        text-decoration: none; }

footer {
  margin-top: 40px;
  line-height: 1.2; }
  footer .mainFooter {
    background-color: #102E4A;
    color: white;
    padding: 10px 15px 20px 15px; }
    footer .mainFooter .wrapper1200 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px;
      font-size: 18px; }
      footer .mainFooter .wrapper1200 h3 {
        font-weight: bold;
        font-size: 20px;
        padding: 10px 0; }
      footer .mainFooter .wrapper1200 .contactUs a {
        color: white; }
      footer .mainFooter .wrapper1200 .newsletter form input {
        width: 100%;
        margin: 3px 0;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid black; }
      footer .mainFooter .wrapper1200 .newsletter p {
        margin-bottom: 10px; }
  footer .footerIcons {
    text-align: center;
    background-color: #84A9C0;
    padding: 10px 0; }
    footer .footerIcons .socialIcon {
      max-width: 50px;
      max-height: 50px;
      margin: 0 5px;
      background-color: #102E4A;
      border-radius: 11px;
      padding: 7px;
      fill: white;
      cursor: pointer; }
    footer .footerIcons .socialIcon:hover {
      background-color: #194874; }
  footer .copyrightArea {
    text-align: center; }
    footer .copyrightArea p {
      padding: 20px; }
      footer .copyrightArea p a {
        color: black; }

@media only screen and (max-width: 1007px) {
  footer .mainFooter .wrapper1200 {
    grid-template-columns: repeat(2, 1fr); } }
@media only screen and (max-width: 641px) {
  footer .mainFooter .wrapper1200 {
    grid-template-columns: 1fr; } }
.aboutus {
  padding: 0 15px; }
  .aboutus h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px; }
  .aboutus .text {
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: grey;
    line-height: 1.2;
    font-size: 20px;
    margin-top: 20px; }

@media only screen and (max-width: 1007px) {
  .aboutus .text {
    column-count: 2; } }
@media only screen and (max-width: 641px) {
  .aboutus .text {
    column-count: 1; } }
.destinations {
  padding: 0 15px; }
  .destinations h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px; }
  .destinations .imageArea {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-top: 20px; }
    .destinations .imageArea .imageBox {
      max-width: 100%; }
      .destinations .imageArea .imageBox img {
        width: 100%; }
      .destinations .imageArea .imageBox figcaption {
        padding-top: 5px;
        line-height: 1.2;
        font-size: 18px; }

@media only screen and (max-width: 1007px) {
  .destinations .imageArea {
    grid-template-columns: repeat(3, 1fr); } }
@media only screen and (max-width: 641px) {
  .destinations .imageArea {
    grid-template-columns: repeat(2, 1fr); } }
.location {
  padding: 0 15px; }
  .location h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px; }
  .location .address, .location .email, .location .phone {
    padding: 5px 0;
    font-size: 20px; }
    .location .address a, .location .email a, .location .phone a {
      color: blue; }
  .location .googleMap {
    margin-top: 20px; }

@media only screen and (max-width: 641px) {
  .location .googleMap iframe {
    width: 100%;
    height: 500px; } }
.normalNavWp {
  background-color: #102E4A; }
  .normalNavWp .wrapper1200 {
    display: grid;
    grid-template-columns: auto 200px; }
    .normalNavWp .wrapper1200 .menu-main-menu-container {
      background-color: #102E4A; }
      .normalNavWp .wrapper1200 .menu-main-menu-container .normalWpNav {
        margin: 0 auto;
        display: flex; }
        .normalNavWp .wrapper1200 .menu-main-menu-container .normalWpNav .menu-item a {
          position: relative;
          display: block;
          color: white;
          text-decoration: none;
          font-size: 21px;
          font-weight: bold;
          padding: 10px; }
        .normalNavWp .wrapper1200 .menu-main-menu-container .normalWpNav .menu-item a:hover {
          background-color: #22629e; }
        .normalNavWp .wrapper1200 .menu-main-menu-container .normalWpNav .current_page_item {
          background-color: #22629e; }
        .normalNavWp .wrapper1200 .menu-main-menu-container .normalWpNav .menu-item-60 .sub-menu {
          display: none;
          position: absolute;
          z-index: 9999;
          background-color: #102E4A; }
        .normalNavWp .wrapper1200 .menu-main-menu-container .normalWpNav .menu-item-60:hover .sub-menu {
          display: block; }
    .normalNavWp .wrapper1200 .navSearch {
      justify-self: right;
      padding-bottom: 3px;
      margin-right: 10px; }
      .normalNavWp .wrapper1200 .navSearch input.searchBar {
        border-radius: 3px;
        border: none;
        height: 32px;
        padding: 5px;
        margin: 0; }
      .normalNavWp .wrapper1200 .navSearch button {
        height: 32px;
        width: 32px;
        border: none;
        top: 4px;
        position: relative;
        border-radius: 3px; }

#hiddenNavWp {
  background-color: #102E4A;
  color: white;
  font-size: 23px;
  display: none; }
  #hiddenNavWp .menu-main-menu-container .hiddenNavWp .current-menu-item {
    background-color: #22629e; }
  #hiddenNavWp .menu-main-menu-container .hiddenNavWp li {
    padding: 12px;
    cursor: pointer;
    border-top: 1px solid #3f3f42; }
    #hiddenNavWp .menu-main-menu-container .hiddenNavWp li a {
      color: white;
      text-decoration: none; }
  #hiddenNavWp .menu-main-menu-container .hiddenNavWp a:hover {
    background-color: #84A9C0; }
  #hiddenNavWp .menu-main-menu-container .hiddenNavWp #menu-item-60 {
    padding: 0; }
    #hiddenNavWp .menu-main-menu-container .hiddenNavWp #menu-item-60 a[href="#"] {
      padding: 12px;
      display: block;
      position: relative; }
    #hiddenNavWp .menu-main-menu-container .hiddenNavWp #menu-item-60 .sub-menu li {
      padding: 12px; }
  #hiddenNavWp .menu-main-menu-container .hiddenNavWp #menu-item-60:hover {
    background-color: #102E4A; }

@media only screen and (max-width: 1007px) {
  .normalNavWp {
    display: none; }

  .mobileNavWp {
    display: grid; } }
.wp-block-contact-form-7-contact-form-selector {
  max-width: 1200px;
  margin: 0 auto; }
  .wp-block-contact-form-7-contact-form-selector .wpcf7 {
    margin: 10px; }
    .wp-block-contact-form-7-contact-form-selector .wpcf7 form p {
      margin: 10px 0; }
      .wp-block-contact-form-7-contact-form-selector .wpcf7 form p .wpcf7-not-valid-tip {
        display: block;
        font-size: 13px;
        color: red; }
    .wp-block-contact-form-7-contact-form-selector .wpcf7 .wpcf7-text, .wp-block-contact-form-7-contact-form-selector .wpcf7 .wpcf7-textarea {
      margin: 5px 0;
      padding: 3px;
      font-size: 16px; }
    .wp-block-contact-form-7-contact-form-selector .wpcf7 .wpcf7-submit {
      padding: 8px;
      font-size: 18px;
      width: 150px;
      background-color: #102E4A;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 21px;
      font-weight: bold; }
    .wp-block-contact-form-7-contact-form-selector .wpcf7 .screen-reader-response p {
      color: red; }
    .wp-block-contact-form-7-contact-form-selector .wpcf7 .screen-reader-response p[aria-atomic="true"] {
      color: black; }
    .wp-block-contact-form-7-contact-form-selector .wpcf7 .screen-reader-response ul {
      display: none; }
    .wp-block-contact-form-7-contact-form-selector .wpcf7 .wpcf7-response-output {
      display: none; }

/*# sourceMappingURL=main.css.map */
