// global colors
$orange: #F69800;
$yellow: #F5FF3B;
$lightblue: #84A9C0;
$purple: #6A66A3;
$darkblue: #102E4A;
// screen sizes
$medium: 1007px;
$small: 641px;

// @import "reset";
@import "components/global";
@import "components/header";
@import "components/nav";
@import "components/footer";
@import "components/aboutus";//
@import "components/destinations";//
@import "components/location"; //
@import "components/wp_nav";
@import "components/contact";//