.aboutus {
    padding: 0 15px;

    h1 {
        font-size: 30px;
        font-weight: bold;
        margin-top: 20px;
    }
    .text {
        column-count: 3;
        column-gap: 40px;
        column-rule-style: solid;
        column-rule-width: 1px;
        column-rule-color: grey;
        line-height: 1.2;
        font-size: 20px;
        margin-top: 20px;
    }
}

// screen sizes
// $medium: 1007;
// $small: 641;

@media only screen and (max-width: $medium) {
    .aboutus .text {
        column-count: 2;
    }
}

@media only screen and (max-width: $small) {
    .aboutus .text {
        column-count: 1;
    }
}